$color-temple: darkred;
$color-market: green;
$color-settlement: #202020;
$color-farm: dodgerblue;
$color-generic: #F4A460;
$color-treasure: goldenrod;
$color-monument-background: #F4A460;
$color-monument-border: #b77b48;
$color-selected: red;